.formCreate{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.formCreate>input {
    display: block;
    margin-top: .5rem;
}
.file{
    margin-bottom: 1rem;
}
.input {
  padding: .5rem;
  border: 1px solid rgb(92, 92, 92);
  border-radius: .5rem;

}
.submit{
    background-color: royalblue;
    color: white;
    padding: .5rem;
    border: 0;
    border-radius: .5rem;
}
