.navItems{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
}
.navItems li{
    margin: 0 .5rem 0 .5rem ;
    text-align: center;
}

.navItems li p::first-letter{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: .5rem;

}

.suivre {
    background-color: royalblue;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.3rem;
    margin-bottom: 5rem;
}

.fa-edit {
    width: 20px;
    height: 20px;

}

@media (max-width: 480px){

    .navItems{
        justify-content: center;
        
    }


}
